extends ../layout

block content
  .card
    .card-body
      h4= title
      form(method='POST', action=category.id ? '/categories/' + category.id : '/categories')
        .row.g-3
          .col-md-6
            label.form-label Category Name
            input.form-control(type='text', name='category_name', value=category.category_name, required)
          .col-md-6
            label.form-label Description
            input.form-control(type='text', name='description', value=category.description)
        .mt-3
          button.btn.btn-primary(type='submit') Save
          a.btn.btn-secondary.ms-2(href='/categories') Cancel
